<!DOCTYPE html>
<html>
<head>
  <title>WeixinRailsMiddleware</title>
  <%= stylesheet_link_tag    "weixin_rails_middleware/application", media: "all" %>
  <%= javascript_include_tag "weixin_rails_middleware/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
